<template>
    <div class="report" v-if="report.display()" :class="report.style()">
        <b v-show="report.title().length" class="title">{{ report.title() }}</b>
        <ul v-if="report.message().length > 1">
            <li v-for="message in report.message()" v-html="message">
            </li>
        </ul>
        <div v-else-if="report.message().length" v-html="report.message()[0]"></div>
        <slot></slot>
    </div>
</template>

<script>
import { reactive, isReactive, h  } from 'vue';
import { useI18n } from 'vue-i18n';

export default {
    props: {
        report: { type: Object, default: null },
        title: { type: String, default: null },
        message: { type: String, default: null },
        display: { type: Boolean, default: true }
    },
    setup(props, context) {
        // console.log('slots:', context.slots.default());
        let fillFromSlot = 'default' in context.slots;
        /* if(context.slots.default){
            context.slots.default().forEach((vNode) => {
                console.log('rendered:', vNode);
            });
        } */
        if(props.report !== null && !isReactive(props.report)){
            console.error('[report] Property "report" should be a reactive object!');
            return false;
        }
        const report = (props.report === null) ? reactive(new Report()).show(props.display) : props.report
        if(props.title !== null){
            report.title(props.title);
        }
        if(props.message !== null){
            report.message(props.message);
        }
        /* if('default' in context.slots){
            report.message(context.slots.default);
        } */

        const i = useI18n({
            messages: {
                // en: { appName: "Application" },
                ru: {

                }
            }
        });
        const ig = useI18n({ useScope: 'global' });

        return {
            t: i.t,
            //gf below means "global first"
            gf: (key) => (ig.te(key) ? ig.t(key) : i.t(key)),
            report, fillFromSlot
        };
    },
};

export class Report{
    _title = '';
    _messages = [];
    _style = 'neutral'; //[success, neutral, warning, error]
    _display = false;

    constructor(){

    }

    title(title){
        if(typeof title === 'undefined'){
            return this._title;
        }
        this._title = title;
        return this;
    }
    message(message){
        if(typeof message === 'undefined'){
            return this._messages;
        }
        if(message instanceof Array) {
            this._messages = message;
        }else{
            this._messages = [message];
        }
        return this;
    }
    success(message){
        this._style='success';
        return this.message(message);
    }
    neutral(message){
        this._style='neutral';
        return this.message(message);
    }
    warning(message){
        this._style='warning';
        return this.message(message);
    }
    error(message){
        this._style='error';
        return this.message(message);
    }

    style(style){
        if(typeof style === 'undefined'){
            return this._style;
        }
        this._style = style;
        return this;
    }

    show(display = true){
        this._display = display;
        return this;
    }
    hide(){
        this._display = false;
        return this;
    }
    display(display){
        if(typeof display === 'undefined'){
            return this._display;
        }
        this._display = display;
        return this;
    }
}
</script>

<style scoped>
.report {
    padding: 1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #f8f8f8;
}

.report.success { border-color: #42b983;}
.report.neutral { border-color: #17a2b8;}
.report.error { border-color: #e53935;}
.report.warning { border-color: #c25205;}

.report ul {
    margin:0;
    padding:5px;
}

.report p {
    color: #222;
    line-height: 1.7;
}

.report .title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -.4rem;
    color: #222;
}
</style>
