<template>
    <h1>{{ $t("appName") }}</h1>
</template>

<script>
// import { defineComponent } from '@vue/composition-api'
import { defineComponent } from 'vue'
import { useI18n } from 'vue-i18n';

export default defineComponent({
    setup() {
        // const { tm: t } = useI18n()
        // console.log('name: ', t("appName"));
        return {

        }
    },
    name: 'App'
})
</script>
