<template>
    <div class="component">
        <div class="card">
            <h1>{{ gf("appName") }}</h1>
            <hr />
            <p v-if="awaiting">{{ t("isInstalling") }}...</p>
            <p class="loading" v-if="awaiting"></p>
            <div class="report" :class="report.type">{{ report.msg }}</div>
            <button class="btn" v-if="!awaiting && report.type == 'success'">OK</button>
        </div>
    </div>
</template>

<script>
import { onMounted, inject, ref, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter, useRoute } from "vue-router";
import { http } from 'webformat-jse';

export default {
    setup() {
        const i = useI18n({
            messages: {
                en: {
                    appName: "Application",
                    isInstalling: "Application is installing right now. Wait a minute, please",
                    report: {
                        success: "Install completed!",
                        error: "An error occured:",
                    },
                },
                ru: {
                    appName: "Приложение",
                    isInstalling: "Приложение устанавливается. Пожалуйста, подождите",
                    report: {
                        success: "Приложение успешно установлено!",
                        error: "В процессе установки возникли ошибки:",
                    },
                },
            },
        });
        const ig = useI18n({ useScope: "global" });
        const credentials = inject("credentials");
        let awaiting = new ref(true);

        const Report = function () {
            this.type = "";
            this.msg = "source msg";
        };
        const report = reactive(new Report());

        onMounted(() => {
            const route = useRoute();
            http.post(route.path + '/1', credentials)
                .then(payload => {
                    // console.log(response, awaiting);
                    if(payload == 1){
                        report.type = 'success';
                        report.msg = i.t('report.success');
                        BX24.installFinish();
                    }else{
                        console.error('[install] Unexpected payload: ', payload);
                    }
                })
                .catch(function (response) {
                    report.type = 'error';
                    report.msg = i.t('report.error') + response.errors.join(' / ');
                })
                .finally(() => {
                    awaiting.value = false;
                });
        });

        document.body.style.background = '#2c3e50';

        return {
            t: i.t,
            //gf below means "global first"
            gf: (key) => (ig.te(key) ? ig.t(key) : i.t(key)),
            awaiting,
            report,
        };
    },
};
</script>

<style scoped>
@import "https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load5.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
.component {
    font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;

    padding: 15px;
}
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.loading {
    height: 194px;
}
.loading:before {
    font-size: 20px;
    top: 300px;
}
hr {
    margin: 1rem 0;
}
strong, .bold {
    font-weight: 500;
}

ol, p, ul {
    line-height: 1.7;
}
a {
    color: #3eaf7c;
    font-weight: 500;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.45;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
}

h3 {
    font-size: 1.35rem;
}

.btn {
    color: #42b983;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1!important;
    background: #eee!important;
    border-color: #ddd!important;
    color: #999!important;
}

.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
    background: #42b983;
    color: #fff;
}

.btn.danger {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
}

.btn.warning {
    background: #c25205;
    color: #fff;
    border-color: #c25205;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container.with-nav {
    margin-top: 70px;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 5rem;
}

.form-control {
    position: relative;
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: block;
    width: 100%;
    color: #2c3e50;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    font-size: 1rem;
}

.form-control small {
    color: #e53935;
}

.form-control.invalid input {
    border-color: #e53935;
}

.form-checkbox {
    margin-bottom: 1rem;
}

.form-checkbox .label {
    display: block;
    margin: 0 0 0.3rem 0.3rem;
    font-weight: 500;
}

.form-checkbox .checkbox input {
    margin-right: 1rem;
}

.form-control label {
    display: block;
    margin: 0 0 0.3rem 0.3rem;
    font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
    transition: border 0.22s;
    border: 2px solid #42b983;
}

.card {
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align:center;
}

.card.marked {
    border: 4px solid #42b983;
}

.card.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    transition: .22s all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-item:hover {
    background: #eee;
}

.modal {
    position: fixed;
    top: 60px;
    width: 600px;
    padding: 1rem;
    background: #fff;
    z-index: 1000;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .35);
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #2c3e50;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navbar {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 2rem;
}

.navbar-menu li a {
    color: #2c3e50;
    text-decoration: none;
}

.navbar-menu li a:hover, .navbar-menu li a.active {
    border-bottom: 2px solid #3eaf7c;
}

/************ CUSTOM ***************/
.report {
    padding: 1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.report.success {
    border-color: #42b983;
    background-color: #f8f8f8;
}

.report.error {
    border-color: #e53935;
    background-color: #f8f8f8;
}

.report.warning {
    border-color: #c25205;
    background-color: #f8f8f8;
}

.report p {
    color: #222;
    line-height: 1.7;
}

.report-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -.4rem;
    color: #222;
}
</style>
