<template>
    <h1>{{ gf("restrict.title") }}</h1>
    <div>{{ gf("restrict.message") }}</div>
</template>

<script>
import { useI18n } from "vue-i18n";

export default {
    setup() {
        const i = useI18n({
            messages: {
                en: {
                    restrict: {
                        title: "Access denied",
                        message: "You have no access to this page. Please contact to Bitrix24 administrator.",
                    }
                },
                ru: {
                    restrict: {
                        title: "Доступ к приложению ограничен",
                        message: "У вас недостаточно прав для просмотра данной страницы. Пожалуйста, обратитесь к администратору вашего Битрикс24 за подробностями.",
                    }
                },
            },
        });
        const ig = useI18n({ useScope: "global" });

        return {
            t: i.t,
            //gf below means "global first"
            gf: (key) => (ig.te(key) ? ig.t(key) : i.t(key)),
        };
    }
}
</script>
